<div class="container"  style="width: calc(70%);">
    <h1 class="page-header" style="font-size:30px; color:#2A4E6E" ><span class="fa fa-arrow-up"></span> Production Rate Information</h1>
	<section class="register" >  
	  <div class="reg_section">
		   <h3><span class="fa fa-folder"></span> Basic Information</h3>
			<ul class="list-group">
				<li class="list-group-item">Production Rate: <%= @production_rate.number_of_panels_per_hour %></li>
			</ul>
	 	</div>
	 </section>	
</div>	