<%= form_for(@machine) do |f| %>
 <section class="register">

  <div class="form-group reg_section">
    <h1> Machine Information</h1>
    <h3>Name</h3>
    <%= f.text_field :name ,placeholder:"Enter Machine Name....."%>
    <% if @machine.errors[:name].present? %>
        <div class="text-danger">
          * name can`t be blank
        </div>
        <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </section
<% end %>
