<p id="notice"><%= notice %></p>

<h1>Listing Machines</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th text-align="center">Show</th>
      <th text-align="center">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.name %></td>
        
        <td><%= link_to 'Edit', edit_machine_path(machine),class:"btn btn-default"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


