

<div class="container" style="width: calc(70%);" >
  <h1 class="page-header" style="font-size:30px; color:#2A4E6E" ><span class="fa fa-usd"></span> Prices</h1>
  <section class="register" >  
    <div class="reg_section">

        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th class="text-center"><h1>Value</h1></th>
              <th class="text-center"><h1>Edit</h1></th>
            </tr>
          </thead>


          <tbody>
            <% @lookup_prices.each do |lookup_price| %>
            <tr>
              <td class="text-center" ><%= lookup_price.value %></td>
              <td class="text-center" ><%= link_to 'Edit', edit_lookup_price_path(lookup_price),class: "btn btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
</div>



