<div class="container" style="width: calc(80%);">
 <h1 class="page-header" style="font-size:30px; color:#2A4E6E" > <span class="fa fa-list"></span> Admin Requests</h1>
 <section class="register" >  
    <div class="reg_section">


<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th class="text-center"><h3>Power</h3></th>
      <th class="text-center"><h3>Type</h3></th>
      <th class="text-center"><h3>Subtype</h3></th>
       
    </tr>
  </thead>

  <tbody>
    <% @admin_shifts.each do |admin_shift| %>
      <tr>
        <td class="text-center"><%= admin_shift.power %></td>
        <td class="text-center"><%= admin_shift.celltype %></td>
        <td class="text-center"><%= admin_shift.subtype %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>

</div>

