<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<h1>
				<span class="label label-default">Editing Employee</span>
			</h1>
			<%= render 'form' %>
		</div>
	</div>
</div>



