
<div class="container" style="width: calc(70%);">

  <h1 class="page-header" style="font-size:30px; color:#2A4E6E" ><span class="fa fa-users"> All Employees</span></h1>
  <section class="register" >  
    <div class="reg_section">
       <%= select_tag(:list, options_for_select([['ALL', 'all'], ['Current', 'current'],['Past','past']]),onchange: "searchemp()",class: "target col-md-3" ,style:"width:110px;margin-left:10px;margin-top:10px" ,id:"search") %>
       <div id="emp">
         <%= render 'employee' %> 
      </div>
    </div>
  </section>
  
</div>      

<script>
$(".fire").click(function(){
  var id =this.id;
  $.ajax({
      type: "POST",
      url: "/employees/fire",
      dataType: "JSON",
      data: { 'id':this.id},
      complete: function(data)
      {
        $("#"+id).html("Not Available");
         $("#"+id+"e").attr('disabled',"disbaled");
        $("#"+id+"e").click(function(){
                alert('disabled');
                return false;

      });
        //document.getElementById(id+"e").removeAttribute('href');    
      }
    });
});
function searchemp(){
  console.log($("#search").val());
  var type=$("#search").val();
   $.ajax({
      type: "POST",
      url: "/employees/search",
      dataType: "JSON",
      data: { 'type':type},
      complete: function(data)
      {
         $("#emp").html(data.responseText);
        
      }
    });

}

</script>
