<div class="container">
<h1 class="page-header"> <span class="fa fa-users"></span> Your Crew Members</h1>

<% if @crew_name.blank? %>
  <div class="alert alert-danger">
There are no crews...Please add them</div>
<% else %>
<ol>
   <% @crew_name.each do |f| %>
    
 <li class="text-capitalize">  <%= f.full_name  %>

  
  <% end %>
</ol>
<% end %>
</div>



