
<strong>crew names:</strong>

<% if @crew_name.blank? %>
  <p>There are no crews...Please add them</p>
<% else %>
   <% @crew_name.each do |f| %>
    <p>
   <%= f.full_name %>
  </p>
  <% end %>
<% end %>



