<p id="notice"><%= notice %></p>

<h1>Listing Crews</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No of workers</th>
       <th text-align="center">Show</th>
      <th text-align="center">Edit</th>

    </tr>
  </thead>

  <tbody>
    <% @crews.each do |crew| %>
      <tr>
        <td><%= crew.no_of_workers %></td>
        <td><%= link_to 'Show', crew %></td>
        <td><%= link_to 'Edit', edit_crew_path(crew) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

