<div class="container">
  <div class="page-header" style="font-size:35px;">
      <h1>Crew Infromation</h1>
  </div>
  <div class="raw">
	<div class="page-header">
		<h1>Basic Infromation</h1>
	</div>

	<ul class="list-group">
		<li class="list-group-item">Crew Name: <%= @crew.name %></li>
		<li class="list-group-item">Number of workers: <%= @crew.no_of_workers %></li>
	</ul>

	<div class="page-header">
		<h1>Members Name</h1>
	</div>

	<ul class="list-group">
		<% @employees.each do |employee| %>
			<li class="list-group-item text-capitalize"><%= employee.full_name %></li>
  		<% end %>
	</ul>
 </div>	
</div>	

