<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th text-align="center">Category</th>
      <th text-align="center">Show</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category %></td>
        <td><%= link_to 'Show', category,class:"btn btn-primary" %></td>
    <% end %>
  </tbody>
</table>

<br>

