<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @material_theoretical.value %>
</p>

<%= link_to 'Edit', edit_material_theoretical_path(@material_theoretical) %> |
<%= link_to 'Back', material_theoreticals_path %>
