<div class="container" style="width: calc(70%);">

  <h1 class="page-header" style="font-size:30px; color:#2A4E6E" >Vendor Information</h1>
  
  <div class="row">
    <section class="register" >  
        <div class="reg_section">
            <h3>Basic Infromation</h3>
  

            <ul class="list-group">
              <li class="list-group-item">Name: <%= @vendor.name %></li>
              <li class="list-group-item">Email:  <%= @vendor.email %></li>
            </ul>
        </div>

    <div class="reg_section">
      <h3>Contact Information</h3>

      <ul class="list-group">
          <% index = 1%>
            <% @vendor_phones.each do |vendorphone| %>
              <li class="list-group-item text-capitalize">Phone <%=index%>:<%= vendorphone.phone %></li>
               <%index+=1%>
          <%end%> 
      </ul>
    </div>
    </section>
 </div> 
</div>  

