<div class="container" style="width: calc(70%);">
  <div class="page-header" style="font-size:35px;">
      <h1>Vendor Information</h1>
  </div>
  <div class="raw">
  <div class="page-header">
    <h1>Basic Infromation</h1>
  </div>

  <ul class="list-group">
    <li class="list-group-item">Name: <%= @vendor.name %></li>
    <li class="list-group-item">Email:  <%= @vendor.email %></li>
  </ul>

  <div class="page-header">
    <h1>Contact Infrormation</h1>
  </div>

  <ul class="list-group">
      <% index = 1%>
        <% @vendor_phones.each do |vendorphone| %>
          <li class="list-group-item text-capitalize">Phone <%=index%>:<%= vendorphone.phone %></li>
           <%index+=1%>
      <%end%> 
  </ul>
 </div> 
</div>  

