<h1 class="page-header text-primary">Forget Password</h1>
<%= form_tag forget_password_path do  %>
      <%= label_tag :email %>
      <%= text_field :email,  params[:email] %>
	  <br>
      <%= submit_tag "Submit", class: "btn btn-primary" , methode: :post %>
<% end %>