<div class="container">
	<h1 class="page-header" style="font-size:30px; color:#2A4E6E"><span class="fa fa-unlock"></span> Forgot Password ?!</h1>
	<section class="register">       
		<div class="reg_section">
			
			
				<%= form_tag forget_password_path do  %>
				<h3><span class="fa fa-envelope-o"></span> Email </h3>
				<%= text_field :email,  params[:email], class: 'form-control' ,placeholder: "Enter Email....." %>
				<br>
				<%= submit_tag "Submit", class: "btn btn-warning" , methode: :post %>
				<% end %>
			  
		</div>  
	</section>
</div>
